#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/mouse.h>

#define QUICK_TAP_MS 250

#include "zmk-helpers/helper.h"
/* use helper macros to define left and right hand keys */
#include "zmk-helpers/key-labels/lily58.h"                                  // key-position labels
/*                                             58 KEY MATRIX / LAYOUT MAPPING
  ╭────────────────────────────┬────────────────────────────╮ ╭─────────────────────────────┬─────────────────────────────╮
  │  0   1   2   3   4   5     │      6   7   8   9  10  11 │ │ LT5 LT4 LT3 LT2 LT1 LT0     │     RT0 RT1 RT2 RT3 RT4 RT5 │
  │ 12  13  14  15  16  17     │     18  19  20  21  22  23 │ │ LM5 LM4 LM3 LM2 LM1 LM0     │     RM0 RM1 RM2 RM3 RM4 RM5 │
  │ 24  25  26  27  28  29     │     30  31  32  33  34  35 │ │ LB5 LB4 LB3 LB2 LB1 LB0     │     RB0 RB1 RB2 RB3 RB4 RB5 │
  │ 36  37  38  39  40  41  42 │ 43  44  45  46  47  48  49 │ │ LF5 LF4 LF3 LF2 LF1 LF0 LEC │ REC RF0 RF1 RF2 RF3 RF4 RF5 │
  ╰───────────╮ 50  51  52  53 │ 54  55  56  57 ╭───────────╯ ╰───────────╮ LH3 LH2 LH1 LH0 │ RH0 RH1 RH2 RH3 ╭───────────╯
              ╰────────────────┴────────────────╯                         ╰─────────────────┴─────────────────╯             */

#define KEYS_L LT5 LT4 LT3 LT2 LT1 LT0 LM4 LM3 LM2 LM1 LM0 LB5 LB4 LB3 LB2 LB1 LB0 LF5 LF4 LF3 LF2 LF1 LF0 LEC       // left-hand keys
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5 REC RF0 RF1 RF2 RF3 RF4 RF5   // right-hand keys
#define KEYS_B LH1 RH3 LM5 LH2                                                                                       // both keys

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS) \
    ZMK_HOLD_TAP(NAME, \
        flavor = "balanced"; \
        tapping-term-ms = <280>; \
        quick-tap-ms = <QUICK_TAP_MS>; \
        require-prior-idle-ms = <150>; \
        bindings = <HOLD>, <TAP>; \
        hold-trigger-key-positions = <TRIGGER_POS>; \
        hold-trigger-on-release; \
    )
MAKE_HRM(hml, &kp, &kp, KEYS_R KEYS_B)  // left-hand HRMs
MAKE_HRM(hmr, &kp, &kp, KEYS_L KEYS_B)  // right-hand HRMs

// timeout for tap-dance
#define TD_TIMEOUT         150
#define TD_TIMEOUT_LONG    300

#define BASE 0
#define M1   1
#define M2   2
#define M3   3
#define M4   4

#define FX_21 F21 RGB_COLOR_HSB(321,58,100)
#define HYPER RS(RC(RA(RGUI)))

/ {
    behaviors {
        hyp_f: hyp_f {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <1000>;
            bindings = <&kp>, <&kp>;
        };
        m0_cmdtab: m0_cmdtab {
            compatible = "zmk,behavior-mod-morph";
            label = "m0_cmdtab";
            #binding-cells = <0>;
            bindings = <&mt F20 ESC>, <&kp TAB>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };
        m1_grave_bslh: m1_grave_bslh {
            compatible = "zmk,behavior-mod-morph";
            label = "grave_bslh";
            #binding-cells = <0>;
            bindings = <&lt M1 BSLH>, <&kp GRAVE>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };
        td_F22_M1: td_F22_M1 {
            compatible = "zmk,behavior-tap-dance";
            label = "td_F22_M1";
            #binding-cells = <0>;
            tapping-term-ms = <TD_TIMEOUT_LONG>;
            bindings = <&kp F22>, <&mo M1>;
        };
    };

    macros {
      fx: fx {
          compatible = "zmk,behavior-macro-two-param";
          wait-ms = <0>;
          tap-ms = <0>;
          #binding-cells = <2>;
          bindings
              = <&macro_param_1to1>
              , <&macro_press &kp MACRO_PLACEHOLDER>
              , <&macro_param_2to1>
              , <&macro_tap &rgb_ug MACRO_PLACEHOLDER>
              , <&macro_tap &rgb_ug RGB_ON>
              , <&macro_pause_for_release>
              , <&macro_param_1to1>
              , <&macro_release &kp MACRO_PLACEHOLDER>
              , <&macro_tap &rgb_ug RGB_OFF>
              ;
      };
      fx_21: fx_21 {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        bindings
            = <&macro_press &kp F21>
            , <&macro_tap &rgb_ug RGB_COLOR_HSB(321,58,100)>
            , <&macro_tap &rgb_ug RGB_ON>
            , <&macro_pause_for_release>
            , <&macro_release &kp F21>
            , <&macro_tap &rgb_ug RGB_OFF>
            ;
      };
    };
    combos {
        compatible = "zmk,combos";

        combo_out_tog {
            timeout-ms = <50>;
            key-positions = <37 53>;
            bindings = <&out OUT_TOG>;
        };
        // BT combos
        combo_bt_sel_0 {
            timeout-ms = <50>;
            key-positions = <38 53>; // Lower + 6
            bindings = <&bt BT_SEL 0>;
        };
        combo_bt_sel_1 {
            timeout-ms = <50>;
            key-positions = <39 53>; // Lower + 7
            bindings = <&bt BT_SEL 1>;
        };
        combo_bt_clr {
            timeout-ms = <50>;
            key-positions = <51 53>; // Lower + LGUI
            bindings = <&bt BT_CLR>;
        };

        // Media combos
        combo_play_pause {
            timeout-ms = <50>;
            key-positions = <4 5>;
            bindings = <&kp C_PP>;
        };
        combo_media_next {
            timeout-ms = <50>;
            key-positions = <5 17>;
            bindings = <&kp C_NEXT>;
        };
        combo_media_prev {
            timeout-ms = <50>;
            key-positions = <17 29>;
            bindings = <&kp C_PREV>;
        };

        // TAB
        combo_tab {
            timeout-ms = <50>;
            key-positions = <14 28>;
            require-prior-idle-ms = <250>;
            bindings = <&kp TAB>;
        };
        // Caps
        combo_caps {
            timeout-ms = <50>;
            key-positions = <24 28>;
            require-prior-idle-ms = <250>;
            bindings = <&kp CAPS>;
        };
        // Enter
        combo_enter {
            timeout-ms = <50>;
            key-positions = <20 31>;
            require-prior-idle-ms = <200>;
            bindings = <&kp RET>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp N1      &kp N2       &kp N3       &kp N4               &kp N5       &kp N6                           &kp N7      &kp N8       &kp N9       &kp N0       &kp MINUS      &kp EQUAL
                &m0_cmdtab  &kp Q        &kp W        &kp E                &kp R        &kp T                            &kp Y       &kp U        &kp I        &kp O        &kp P          &kp BSPC
                &none       &hml LALT A  &hml LCTRL S &hml LSHFT D         &hml LGUI F  &kp G                            &kp H       &hmr LGUI J  &hmr LSHFT K &hmr LCTRL L &hmr LALT SEMI &kp APOS
                &mo M1      &kp Z        &kp X        &kp C                &kp V        &kp B      &kp LBKT    &kp RBKT  &kp N       &kp M        &kp COMMA    &kp DOT      &kp FSLH       &none
                                         &kp LALT     &hyp_f HYPER LS(F12) &kp SPACE    &kp LGUI                         &mo M4      &kp F23      &kp F19      &kp BSLH
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        M1_layer {
            bindings = <
                &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                                 &kp F7           &kp F8     &kp F9     &kp F10    &kp F11       &kp F12
                &trans  &trans  &trans  &trans  &kp C_VOL_UP  &kp C_BRI_UP                     &kp KP_ASTERISK  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_SLASH  &trans
                &trans  &trans  &trans  &trans  &kp C_VOL_DN  &kp C_BRI_DN                     &kp KP_PLUS      &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_N0     &kp KP_EQUAL
                &trans  &trans  &trans  &trans  &trans  &trans     &trans           &trans     &kp KP_MINUS     &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_DOT    &trans
                                        &trans  &trans  &trans     &trans           &trans     &trans           &trans     &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        M2_layer {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans                                 &trans   &trans  &trans    &trans  &trans    &trans
                &trans  &trans  &trans  &trans  &trans  &trans                                 &trans   &trans  &trans    &trans  &trans    &trans
                &trans  &trans  &trans  &trans  &trans  &trans                                 &trans   &trans  &trans    &trans  &trans    &trans
                &trans  &trans  &trans  &trans  &trans  &trans     &trans           &trans     &trans   &trans  &trans    &trans  &trans    &trans
                                        &trans  &trans  &trans     &trans           &trans     &trans   &trans  &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        M3_layer {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans                                 &trans   &trans  &trans    &trans  &trans    &trans
                &trans  &trans  &trans  &trans  &trans  &trans                                 &trans   &trans  &trans    &trans  &trans    &trans
                &trans  &trans  &trans  &trans  &trans  &trans                                 &trans   &trans  &trans    &trans  &trans    &trans
                &trans  &trans  &trans  &trans  &trans  &trans     &trans           &trans     &trans   &trans  &trans    &trans  &trans    &trans
                                        &trans  &trans  &trans     &trans           &trans     &trans   &trans  &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        M4_layer {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans                                 &trans     &trans     &trans    &trans     &trans    &trans
                &trans  &trans  &trans  &trans  &trans  &trans                                 &mkp LCLK  &kp PG_UP  &kp UP    &trans     &trans    &kp DEL
                &trans  &trans  &trans  &trans  &trans  &trans                                 &kp HOME   &kp LEFT   &kp DOWN  &kp RIGHT  &kp END   &trans
                &trans  &trans  &trans  &trans  &trans  &trans     &trans           &trans     &mkp RCLK  &kp PG_DN  &trans    &trans     &trans    &trans
                                        &trans  &trans  &trans     &trans           &trans     &trans     &trans     &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

    };
};
